{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyMzRneqeaf+hMxXmFtUVtuW"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","source":["# Jalankan kode ini untuk membuat file\n","with open('requirements.txt', 'w') as f:\n","    f.write('streamlit\\npandas\\nnumpy\\nscikit-learn\\njoblib')\n","\n","print(\"File requirements.txt berhasil dibuat!\")"],"metadata":{"colab":{"base_uri":"https://localhost:8080/"},"id":"zXCe4MwNQeXM","executionInfo":{"status":"ok","timestamp":1766762766712,"user_tz":-420,"elapsed":33,"user":{"displayName":"FIJA RAMADHAN","userId":"10726923241368980632"}},"outputId":"12a3f30b-62b9-4157-8a7d-4b6de3928128"},"execution_count":7,"outputs":[{"output_type":"stream","name":"stdout","text":["File requirements.txt berhasil dibuat!\n"]}]}]}